calendar {

    @media screen and (min-width: 1000px) {
        > div {
            display: flex;
            flex-direction: row;
        }

        > div > * {
            margin: auto;
        }

        .col1 {
            width: 620px;
        }

        .col2 {
            width: 380px;
            margin-left: 20px;
            background-color: #fff;
        }

        .col1, .col2 {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
        }

        .col2 p {
            padding: 0 15px;
        }
    }

    h2 {
        padding: 20px;
        background: #fff;
        width: 100%;
        text-align: center;
        margin:0;
    }

    div.slots {
        background-color: #fff;
        margin: 15px auto auto auto;
        display: flex;
        flex-direction: column;
    }

    div.slots > * {
        margin: auto;
    }

	div.hours {
		flex-wrap: wrap;
	    display: flex;
        padding: 5px 30px;
        width: 100%;
	}

	span.hour {
	    //border-color: color($colors, primary, base) !important;
	    padding: 0px 8px;
	    margin: 5px;
	    line-height: 2.5em;
	    white-space: nowrap;
	    text-align: center;
	    cursor: pointer;
        width: 60px;
        position: relative;
	}

	.empty-ranges {
        background-color: color($colors, secondary, base) !important;
        border-color: color($colors, secondary, base) !important;
        color: #fff !important;
        opacity: 0.4;
    }

     ion-calendar .empty-ranges {
     	border-radius: 0 !important;
     }

     ul.week-title {
        border-top: 1px solid black;
     }

    ion-calendar-week .week-title li:nth-of-type(7n), ion-calendar-week .week-title li:nth-of-type(7n+1) {
        width: 14% !important;
    }

     ion-calendar-month .days-box {
        padding: 0 !important;
     }

    ion-calendar-month button.days-btn {
        border-radius: 0;
    }

    ion-calendar-month button.days-btn,
    ion-calendar-month .days {
        height: 30px;
        width: 65px !important;
    }

    span.hour {
        height: 30px;
    }

    ion-calendar-month .days {
        margin: 7px 8px;
     }

    ion-calendar-month button.days-btn > p,
    .hour {
        font-size: 14px;
        font-weight: bold;
    }

    button.days-btn,
    span.hour {
        background: #e5e5e5;
    }

    .valid {
        margin: 50px auto !important;
    }

    div.hours.disabled > .hour,
    .valid.disabled,
    .selectReminder.disabled > select {
        background: #e5e5e5 !important;
        cursor: unset !important;
        color: #c3c3c3 !important;
    }

    div.slots.disabled .hour,
    .valid.disabled,
    .selectReminder.disabled > span,
    .toggleReminder.disabled {
        color: #c3c3c3 !important;
    }

    .on-selected {
        border-radius: 0 !important;
    }
    .days-btn:hover,
    .hour:hover,
    .selected,
    .on-selected {
    	background-color: lighten( color($colors, primary, base), 25%) !important;
        opacity: 1;
    }

    .hour .number {
        display: none;
        position: absolute;
        font-size: 0.8em;
        top: -1em;
        right: -0.7em;
        background-color: #b2b2b2;
        line-height: 1em;
        width: 1.8em;
        padding: 5px;
        border-radius: 50px;
    }

    .already-selected {
        background-color: color($colors, primary, base) !important;
        color: #fff !important;
    }

    .hour.selected {
        color: #fff !important;
    }

    ion-calendar .title {
        display: flex;
        width: 20%;
        min-width: 250px;
        margin: auto;
    }

    ion-calendar .title .back {
        margin-left:0;
        left: 0;
    }

    calendar .button {
        margin: 20px auto;
    }

    .empty-ranges .number {
        display: inline !important;
    }

    .selectReminder {
        font-size: 15px;
        background-color: #fff;
        width: 100%;
    }

    .selectReminder select {
        padding: 5px;
        margin: 5px 30px;
        border: 1px solid #ddd;
        width: 140px;
    }

    @media screen and (max-width: 999px) {
        > div {
            display: flex;
            flex-direction: column;
        }

        > div > * {
            margin: auto;
        }

        .col1 {
            width: 100%;
        }

        .col2 {
            width: 100%;
            background-color: #fff;
        }

        .col1, .col2 {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
        }

        .col2 p {
            padding: 0 15px;
        }

        span.hour {
            height: 30px;
        }

        ion-calendar-month button.days-btn {
            width: 90% !important;
        }

        ion-calendar-month .days {
            margin: auto;
            margin-bottom: 7px;
            width: 14% !important;
        }

        span.hour {
            width: 10%;
        }
    }

    @media screen and (max-width: 599px) {
        span.hour {
            width: 16%;
        }
    }

}
