<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="header !== 'false'">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mon calendrier de prières</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding [ngClass]="header !== 'false' ? 'iframe' : ''">
    <h1 *ngIf="!header">
        Je m'inscris pour prier
    </h1>

    <div id="calendar">
        <calendar recur="true" [header]="header !== 'false'"></calendar>
    </div>

    <button ion-button class="buttonFixed" (click)="openPlanning()">
      <ion-icon name="list"></ion-icon>
    </button>
</ion-content>
