<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Témoignages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of posts" (click)="itemTapped($event, item)">
      <!--<ion-icon [name]="star" item-start></ion-icon>-->
      <h3>{{item.title}}</h3>
      <p [innerHTML]="bloc(item.content, 'blockquote')" class="description" text-wrap></p>
    </ion-item>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
