page-planning {
    .buttonFixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50px;
    }

    ion-item-sliding:nth-child(odd) > ion-item {
        background: #efefef;
    }

    button.button-full {
        margin-bottom: 20px;
    }

    button#toggleHours {
        margin-top: 50px;
    }

    .toggleReminder ion-label {
        font-weight: 600;
    }
}
