<!--
  Generated template for the PlanningPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="header != 'false'">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Planning</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h2 *ngIf="thanks">Merci pour votre inscription !</h2>

    <button ion-button full (click)="presentSyncModal()">
        <ion-icon name="calendar"></ion-icon>
        <span>Synchroniser mon calendrier</span>
    </button>

    <div>
      <ion-item class="toggleReminder">
        <ion-label>Recevoir un rappel par email</ion-label>
        <ion-toggle [(ngModel)]="reminderMail"  (ngModelChange)="toggleMailReminder()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="reminderMail">
        <ion-select [(ngModel)]="reminderMailTime">
          <ion-option value="15">15 minutes avant</ion-option>
          <ion-option value="30">30 minutes avant</ion-option>
          <ion-option value="60">1 heure avant</ion-option>
          <ion-option value="120">2 heures avant</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="toggleReminder" *ngIf="false">
        <ion-label>Recevoir une notification sur l'application</ion-label>
        <ion-toggle [(ngModel)]="reminderNotif"  (ngModelChange)="toggleNotifReminder()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="reminderNotif">
        <ion-select [(ngModel)]="reminderNotifTime">
          <ion-option value="15">15 minutes avant</ion-option>
          <ion-option value="30">30 minutes avant</ion-option>
          <ion-option value="60">1 heure avant</ion-option>
          <ion-option value="120">2 heures avant</ion-option>
        </ion-select>
      </ion-item>

    </div>

    <button id="toggleHours" ion-button color="secondary" full (click)="toggleHours()">
        <ion-icon name="time"></ion-icon>
        <span>Gérer mes heures de prières</span>
         <ion-icon name="arrow-dropdown"></ion-icon>
    </button>

    <ion-list *ngIf="prayerHours">
        <ion-item-sliding #slidingItem *ngFor="let slot of user?.slots" (click)="openSlidingItem($event, slidingItem)" (ionDrag)="closeAllItems()">
            <ion-item *ngIf="isNewSlot(slot)">
                {{slot | dateformat}}
            </ion-item>
            <ion-item-options side="right">
                <button color="danger" ion-button expandable (click)="delete(slot, true)">
                    <ion-icon name="trash"></ion-icon>
                    <span>Tous les {{slot | weekday}}s</span>
                </button>
                <button color="warning" ion-button expandable (click)="delete(slot, false)">
                    <ion-icon name="trash"></ion-icon>
                    <span>Cette date</span>
                </button>
                
            </ion-item-options>
            <ion-item-options side="left" (ionSwipe)="delete(slot, false)">
                <button color="danger" ion-button expandable (click)="delete(slot, false)">
                    <ion-icon name="trash"></ion-icon>
                    <span>Supprimer</span>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <button ion-button color="secondary" full *ngIf="newSlots !== undefined" (click)="newSlots = undefined">
        Voir tout mon planning
    </button>

    <button ion-button class="buttonFixed" (click)="openAgenda()">
      <ion-icon name="calendar"></ion-icon>
    </button>
</ion-content>
